PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/styleher
CLIENT_URL=http://localhost:4000
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_FORM_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
NODE_ENV=development